/* App.css */

/* Styles spécifiques pour le bandeau de cookies */
.custom-cookie-banner {
    background-color: #1a202c; /* Couleur de fond du bandeau */
    color: #cbd5e0; /* Couleur du texte du bandeau */
    padding: 15px; /* Ajout de padding */
    font-size: 16px; /* Taille de la police */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-cookie-banner .cookie-icon {
    font-size: 1.5rem; /* Taille de l'icône */
    color: #ecc94b; /* Couleur de l'icône */
    margin-right: 10px;
}

.custom-cookie-banner button {
    margin-left: 15px; /* Espace entre le texte et les boutons */
}

/* Boutons de consentement */
.custom-cookie-banner .cookie-consent__button {
    color: #fff;
    background-color: #38a169;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.custom-cookie-banner .cookie-consent__button--decline {
    background-color: #e53e3e;
}

.custom-cookie-banner .cookie-consent__button:hover {
    background-color: #2f855a;
}

.custom-cookie-banner .cookie-consent__button--decline:hover {
    background-color: #c53030;
}
